<!-- PRUEBAS ************************************************************************************************* -->
<!-- <button (click)="onToggleSpinner()">Toggle Spiner</button>
<app-spinner *ngIf="showSpinner"></app-spinner>
<button appFilesUpload [multiple]="true" (changed)="onFilesChanged($event)">Subir imagenes al servidor</button>
<button (click)="onSuccess()">Mensaje Exito</button>
<button (click)="onError()">Mensaje Error</button> -->

<!-- Menú Drawer -->
<mat-sidenav-container>
  <!-- #menu: asigna esa variable a esa etiqueta -->
  <mat-sidenav #menu>
    <app-menu-list (menuToggle)="menu.toggle()"></app-menu-list>
  </mat-sidenav>
  <!-- (click)="menu.toggle(). Función que abre o cierra el menu. (Viene definida) -->
  <mat-sidenav-content>
    <!-- viene de header.component.ts -->
    <app-header (menuToggle)="menu.toggle()"></app-header>

    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

