$background: #000c0a;
$primary-dark: #051d23;
$primary: #1b4240;
$primary-light: #306567;
$secondary: #4d8d93;
$error: #c4021d;
$on-error: #d1a0a6;
$success: #188d8b;
$on-success: rgb(9, 9, 102);
$primary-text: #ffffff;
$primary-text-hover:  #02b0c0;
